body{
  font-family: "raleway", sans-serif;
  margin: 0;
  font-size: 1em;
  max-width: 100%;
}
@font-face{
font-family :'raleway';
src:url('raleway/Raleway-Medium.ttf');
}

* {
box-sizing: border-box;
margin: 0;
}

h1, h2 {
font-size: 1.2em;
}

main {
margin: 0 auto;
max-width: 1500px;
}

section {
margin: 20px 35px;
}

/* HEADER */

header {
display: flex;
justify-content: space-between;
padding-bottom: 5px;
}

.logo {
margin: 25px auto 0 35px;
}

li{
padding: 1em;
}
h1 {
margin-bottom: 10px;
}

nav ul {
display: flex;
padding: 0;
height: 100%;
list-style-type: none;
}

nav ul li:hover {
border-top: solid 2.5px #0065fc;
}

a:hover {
color: #0065fc ;
}

header a {
display: block;
padding: 0 25px;
padding-top: 40px;
font-size: .9rem;
color: #000;
text-decoration: none;
transition: color .2s;
}

header > a {
margin-right: 10px;
margin-top: 1em;
font-weight: bold;
color: #0065fc;
}

/* SECTION RECHERCHE */

section {
  display: block;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding: 15px;
}

/* Titre */
.recherche h1 {
font-size: 30px;
margin-top: 1vw;
margin-right: 20px;
clear: left;
}

/* paragraphe */
.recherche p {
margin-left: 0;
margin-bottom: 20px;
font-size: 16px;
}

/* Bloc Formulaire*/

.searchform {
padding-top: 10px;
border-radius: 1rem 0 0 1rem;
text-align: center;
display: flex;
height: 70px;
margin-bottom: 30px;
}

/* Pointeur carte */
.mapmarker {
min-width: 60px;
display: flex;
justify-content: center;
align-items: center;
background-color: #f2f2f2;
font-size: 1.2em;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
}

/* Encart Marseille */
.searchfield {
width: 12rem;
border-top: solid #f2f2f2 1px;
border-bottom: solid #f2f2f2 1px;
border-left: none;
border-right: none;
font-family: "raleway", sans-serif;
font-weight: bold;
font-size: initial;
padding-left: 20px;
}

/* Bouton de recherche */

.searchbuttonsubmit {
width: 132px;
background-color: #0065fc;
font-family: "Raleway", sans-serif;
font-weight: bold;
font-size: initial;
color: white;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
border: none;
position: relative;
cursor: pointer;

}

.searchbuttonsubmit i {
font-size: 0;
}

/* SECTION FILTRES */

.filter h3 {
font-size: 22px;
margin-top: 18px;
margin-right: 50px;
clear: left;
}

.recherche p {
margin-left: 0;
margin-bottom: 20px;
font-size: 16px;
}

.buttonfilter {
display: flex;
align-items: center;
margin-right: 2%;
border: 2px solid #f2f2f2;
border-radius: 2rem;
margin-bottom: 1rem;
cursor: pointer;
font-weight: bold;
}

.buttonfiltericon {
background-color: #DEEBFF;
color: #0065fc;
border-radius: 100%;
display: flex;
min-height: 60px;
min-width: 60px;
justify-content: center;
align-items: center;
}

#buttonfiltersearch {
display: flex;
margin-right: 2rem;
border-width: 5px;
border-radius: 2em;
margin-bottom: 1rem;
}

.buttonwriting {
margin: 0 1rem;
}

.infoicon{
color: #0065fc;
height: 2rem;
width: 2rem;
min-height: 2rem;
min-width: 2rem;
border: 2px solid #d9d9d9;
border-radius: 100%;
display: flex;
align-items: center;
justify-content: center;
margin-right: 1px;
}

.info {
border-radius: 100%;
display: flex;
align-items: center;
}

.infosearch {
margin-left: 20px;
display: flex;
width: 100%;
}

/* HEBERGEMENTS */

.hebergements {
flex: 9;
border-radius: 20px;
background-color:#f2f2f2;
}

.hebergements h2 {
  margin: 5px 10px 5px 10px;
}

#cards {
  margin-bottom: 45px;
}

.hebergements > #cards {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

/* Etiquettes */

.boxcard {
flex-direction: column;
position:relative;
margin: 15px 0;
width: 28%;
height: 250px;
box-shadow: 5px 5px 8px #d9d9d9;
}

.boxcard, .poproom {/* avec autres cartes de la page */
display: flex;
padding: 5px;
border-radius: 20px;
background-color: white;
}

.hostingcard{
flex-direction: column;
margin: 7px 0 2px 0;
padding: 5px;
}

/* Images Etiquettes */

.hostinghostel {
border-top-left-radius: 15px;
border-top-right-radius: 15px;
width: 100%;
height: 59%;
object-fit: cover;
}


figure {
width: 100%;
height: 100%;
background-size: cover;
background-position: center;
}

/* Prix chambre */

.nuit {
  margin-top: 7px;
  margin-bottom: 7px;
}

.price {
font-weight: bold;
}

/* Liens */

a {
color: black;
text-decoration: none;
}

/* Etoiles */

.star {
color: #0065fc;
}

.nostar {
color:#d9d9d9;
}

/* Afficher */

.more {
margin-left: 25px;
font-weight: bold;
}


/* POPULAIRES */

.pop {
  display:flex;
  flex: 4;
  flex-direction: column;
  margin-left: 0;
  padding: 15px;
  border-radius: 20px;
  background-color: #f2f2f2;
}

.poputitle{
  display :flex;
  justify-content: space-between;
  align-items: center;
  margin : 5px 10px 15px 10px;
}

#cardpop {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-size: cover;
  background-position: center;
  margin: 20px 5px 20px 15px;
}
.popularCard {
  border-bottom-right-radius: 20px;
  margin: 15px 0;
}

.popularCard h3 {
  width: 90%;
}

#cardpop .popularCard{
  flex: 3;
  padding: 5px 10px;
}

#carpop .popcard {
  flex: 2;
  height:initial;
  border-radius: 20px;
  background-color: black;
}
.poproom  /* taille de chaque boite*/{
  display: flex;
  height: 180px;
  margin-right: 15px;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 8px #d9d9d9;
}

.poproom figure {
  background-color: white;
  display: flex;
}

.popcard {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
}

.poptext {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 50px;
}

/* HEBERGEMENTS + POPULAIRES */

#hostingpopular {
display: flex;
}

#hostingpopular a:hover{
  color: black
}

/* Etoiles */

.star {
  color: #0065fc;
  }
  
  .nostar {
  color:#d9d9d9;
  }

/* Taille étoiles */
.star {
 font-size: 0.8em;
}


/* ACTIVITES */

#cardactivities {
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
  height: 450px;
}

#cardactivities a:hover {
  color: black;
}

.location_1 {
  display: flex;
  height: 450px;
  box-shadow: 2px 2px 20px #d9d9d9;
}

.location_2 {
  display:flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-between;
}

.activities_1 {
  border-radius: 20px;
  width: 300px;
  height: 50%;
  padding: 0;
  margin: 0;
}

.activities_2 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 300px;
  height: 41%;
  padding: 0;
  margin: 0;
}

.activities_3 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 86%;
  padding-bottom: 10px;
  object-fit: cover;
}

.locactivities_1{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 300px;
  height: 100%;
}

.locactivities_2{  
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 300px;
  height: 70%;
  object-fit: cover;
}

.locactivities_3{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 300px;
  height: 65%;
  padding-bottom: 10px;
  object-fit: cover;
}

.location_1, .activities_1, .activities_2 {
  box-shadow: 2px 2px 20px #d9d9d9;
  border-radius: 20px;
  padding-bottom: 0.5em;
}
.activitesCard{
  font-weight: bold;
  font-size: 14px;
  margin-left: 20px;
  margin-top : 5px;
  padding-top: 1em;
}
/*          MEDIA QUERIES          */

@media only screen and (min-width: 768px) and (max-width: 1024px){

main {
  max-width: 1024px;
  
}
#hostingpopular {
  flex-direction: column;
}

.hebergements {  /* modif dimanche soir */
  order:2;
  width: 1024px;
  margin: 15px 15px;
}

.pop { /* modif dimanche soir */
  height: auto;
  order:1;
  margin-left: 15px;
  margin-right:-15px;
}

.poproom {
  min-width: 0;
}
#cards { /* modif dimanche soir */
  width : auto;
}

#cardpop { /*modif dimanche soir */
  flex-direction: row;
}

/* ACTIVITES */

#cardactivities {
  width: 1024px;
  margin: 15px 0;
}
.activities_1, .activities_2, .activities_3 {
  width: 200px;
}

.locactivities_1{
  height: 80%;
  width: 200px;
}

.locactivities_2{
  height: 45%;
  width: 200px;
}

.locactivities_3{
  height: 35%;
  width: 200px;
}
}

@media only screen and (max-width: 767px){

section {
margin: 20px;
padding: 0;
}

h3, p {
  font-size: 0.9em;
}

/* HEADER */

header {
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
padding-top: 20px;
}

header > a {
padding: 5px;
margin-right: 20px;
margin-top: 1em;
order: 2;
}

/* RECHERCHE */

.logo {
margin-top: 0;
margin-left: 20px;
margin-right: auto;
order: 1;
}
nav {
flex-basis: auto;
margin-top: -2em;
width: 100%;
order: 3;
}
nav ul {
padding: 0;
}

nav li {
width: 50%;
text-align: center;
}
nav ul li:hover {
border-top: none;
border-bottom: solid 2.5px #0065fc;
}

a:hover {
color: #0065fc ;
}

.searchbuttonsubmittext{
  display:none;
}
.searchbuttonsubmit i {
  font-size: initial;
}

.searchbuttonsubmit {
  width:50px;
  cursor: pointer;
  border-radius: 15px;
}

.searchfield {
  flex:1;
  width: 25%;
}

.searchform{
  height: 58px;
}

/* FILTRES */

h3 {
  width:100%;
  }



.filter h3 {
  margin-bottom: 10%;
}

#buttonfiltersearch {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
  }

/* HEBERGEMENTS */

.hebergements {
background-color: white;
max-width: 100%;
padding: 15px 10px 5px 5px;
order: 2;
}

.hebergements, .pop {
  margin-left:0;
  margin-right: 0;
  padding: 20px;
  border-radius: 0;
}

.hebergements h2 {
  margin: 0;
}

.hebergements > #cards {
flex-direction: column;
}

.hostingcard {
  margin: 2px 0 2px 0;
}

.boxcard {
width: 100%;
height: 200px;
}

.more {
  margin-left: 0;
}

.nuit {
  margin-top: 3px;
  margin-bottom: 3px;
}
/* POPULAIRES */

.pop {
  margin-bottom: 0;
  order: 1;
}

.poputitle{
  margin: 20px 0;
}

.poproom {
  margin: 10px 0;
}

#cardpop, #cards, #cardactivities {
  margin: auto;
}


/* HEBERGEMENTS + POPULAIRES */

#hostingpopular {
  flex-direction: column;
}

/* ACTIVITES */

#cardactivities {
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  }

.location_1 {
  width: 100%;
  height: 170px;
  margin: 10px 0;
}

.location_2 {
  width: 100%;
  height: 120%;
  justify-content: center;
  margin: 10px 0;
}

.locactivities_1 {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.locactivities_2, .locactivities_3 {
  width: 100%;
  /*height: 110px;*/
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  justify-content:space-evenly;
}
.locactivities_2{
  height: 90px;
}

.locactivities_3{
  height: 107px;
}
.activities_1 {
  width: 100%;
  height: 160px;
  margin: 15px 0;
}
.activities_2 {
  width: 100%;
  height: 180px;
  margin: 20px 0;
}
.activities_3 {
  width: 100%;
  height: 150px;
}

}
